body {font-family: Arial, Verdana;
background-color: #000000;
color: #FFFFFF;
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;}
h1 {font-size: 42px;
text-align: center;
padding: 15px;}
h2 {font-size: 30px; color:#0D0D0D}
p {font-size: 24px; padding-top:10px; padding-left: 10px}
img {width: 250px;
    display: block;
margin:0 auto;
border-style: dashed; border-color: #FFFFFF; border-width: 10px;
}
div {min-height: 125px; height: auto; padding: 20px; border-style: solid; border-color: #FFFFFF; border-width: 3px}
.introduction{border-radius:15px; margin-top: 15px; line-height: 2}
.red {background-color: #ff0000; text-align: right; border-style: solid; margin-left: 50px; border-style: solid; border-width: 0px 0px 2px 5px; border-color: #FFFFFF;}
.blue {background-color: #0000ff; text-align: left; margin-right: 50px; border-width: 2px 5px 0px 0px;}
.blue h2 {color: #c4c4c4;}
.blue p {color: #c4c4c4}
.yellow {background-color: #ffff00; text-align: right; margin-left: 50px; border-width: 0px 0px 2px 5px;}
.yellow p {color: #707070}
.green {background-color: #008500; text-align: left; margin-right: 50px; border-width: 2px 5px 0px 0px;}
footer {background-image: linear-gradient(90deg, #000000, #0000ff 25% #0066ff 70%, #000000); border-style: solid; border-color: #FFFFFF; border-width: 5px;}
footer p {font-size: 20px; text-align: right; padding: 15px 15px 15px 0px;}
    /* padding-bottom: 15px; padding-top: 15px; padding-right: 15px;} */